[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = git@github.com:vaneEmy/hugo-universal-theme.git
[submodule "public"]
	path = public
	url = git@github.com:vaneEmy/vaneEmy.github.io.git
